body {
	margin: 0;
}

.link {
	color: white;
	border-bottom: 1px white solid;
	text-decoration: none;
	line-height: 0px;
}

.link:hover {
	color: salmon;
	border-bottom: 1px salmon solid;
}

@media (min-width: 1450px) {

	#headimage {
		height: 870px;
		width: 100%;
		background-image: url(../images/gg2-boring.jpg);
		background-size: 100%;
		background-position: 0px 200px;
		background-color: white;
		background-repeat: no-repeat;
	}

	#headtext {
		font-family: cormorant garamond, serif;
		padding-left: 70px;
		padding-top: 50px;

	}

	#title {
		font-weight: 400;
		font-size: 130px;
		margin: 0;
		color: #272727;
	}

	#subtitle {
		font-weight: 600;
		font-size: 45px;
		font-style: italic;
		margin: 0;
		margin-top: -20px;
		text-indent: 50px;
		color: #707070;
	}

	#body {
		width: 63%;
		margin: auto;
	}

	#ggimage {
		padding-top: 70px;
	}

	#conflict {
		padding-top: 70px;
	}


	#body div {
		width: 90%;
		margin: auto;
	}

	#overview {
		padding-top: 100px;
		padding-bottom: 50px;
	}


	.half {
		font-family: cormorant garamond, serif;
		font-weight: 400;
		font-size: 50px;
		width: 60%;
		margin-right: 0;
		display: inline-block;
	}

	#whole {
		font-family: cormorant garamond, serif;
		font-weight: 400;
		font-size: 50px;
		width: 100%;
		margin-right: 0;
		display: inline-block;
	}

	#body p {
		font-family: lora, serif;
		width: 60%;
		display: inline-block;
		line-height: 35px;
		letter-spacing: .1px;
		font-size: 20px;
		margin: 0;
		padding-bottom: 100px;
	}

	#body img {
		width: 35%;
		display: inline-block;
		margin: 0;
		float: right;
		margin-top: 30px;
	}

	#overview img {
		padding-top: 0px;
	}
	
	#ggimage img {
		padding-top: 180px;
		width: 38%;
	}

	#conflict img {
		width: 39%;
	}

	#gallery {
		width: 63%;
		margin: auto;
	}

	#gallerylink {
		text-decoration: none;
	}

	#button {
		border: 2px #333333 solid;
		height: 70px;
		width: 250px;
		background-color: white;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		font-family: cormorant garamond, serif;
		font-size: 30px;
		font-style: italic;
		color: #333333;
		line-height: 70px;
	}

	#button:hover {
		border: 2px #333333 solid;
		height: 70px;
		width: 250px;
		background-color: #333333;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		font-family: cormorant garamond, serif;
		font-size: 30px;
		font-style: italic;
		color: white;
		line-height: 70px;
	}


	footer {
		background-color: #333333;
		height: 300px;
		width: 100%;
	}

	footer p {
		width: 63%;
		margin: auto;
		padding-top: 135px;
		font-family: cormorant garamond, serif;
		font-weight: 500;
		font-style: italic;
		color: white;
		text-align: center;
		font-size: 30px;
	}

}

/*-----------------------------------*/

@media (max-width: 1449px) {

	#headimage {
		height: 870px;
		width: 100%;
		background-image: url(../images/gg2-boring.jpg);
		background-size: 100%;
		background-position: 0px 200px;
		background-color: white;
		background-repeat: no-repeat;
	}

	#headtext {
		font-family: cormorant garamond, serif;
		padding-left: 70px;
		padding-top: 50px;

	}

	#title {
		font-weight: 400;
		font-size: 100px;
		margin: 0;
		color: #272727;
	}

	#subtitle {
		font-weight: 600;
		font-size: 35px;
		font-style: italic;
		margin: 0;
		margin-top: -15px;
		text-indent: 50px;
		color: #707070;
	}

	#body {
		width: 63%;
		margin: auto;
	}

	#ggimage {
		padding-top: 70px;
	}

	#conflict {
		padding-top: 70px;
	}


	#body div {
		width: 86%;
		margin: auto;
	}

	#overview {
		padding-top: 70px;
	}

	.half {
		font-family: cormorant garamond, serif;
		font-weight: 400;
		font-size: 50px;
		width: 60%;
		margin-right: 0;
		display: inline-block;
	}

	#whole {
		font-family: cormorant garamond, serif;
		font-weight: 400;
		font-size: 50px;
		width: 100%;
		margin-right: 0;
		display: inline-block;
	}

	#body p {
		font-family: lora, serif;
		width: 60%;
		display: inline-block;
		line-height: 35px;
		letter-spacing: .1px;
		font-size: 20px;
		margin: 0;
		padding-bottom: 100px;
	}

	#body img {
		width: 35%;
		display: inline-block;
		margin: 0;
		float: right;
		margin-top: 30px;
	}

	#overview img {
		padding-top: 50px;
	}
	
	#ggimage img {
		padding-top: 180px;
		width: 38%;
	}

	#conflict img {
		width: 39%;
	}

	#gallery {
		width: 63%;
		margin: auto;
	}

	#gallerylink {
		text-decoration: none;
	}

	#button {
		border: 2px #333333 solid;
		height: 70px;
		width: 250px;
		background-color: white;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		font-family: cormorant garamond, serif;
		font-size: 30px;
		font-style: italic;
		color: #333333;
		line-height: 70px;
	}

	#button:hover {
		border: 2px #333333 solid;
		height: 70px;
		width: 250px;
		background-color: #333333;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		font-family: cormorant garamond, serif;
		font-size: 30px;
		font-style: italic;
		color: white;
		line-height: 70px;
	}


	footer {
		background-color: #333333;
		height: 300px;
		width: 100%;
	}

	footer p {
		width: 63%;
		margin: auto;
		padding-top: 135px;
		font-family: cormorant garamond, serif;
		font-weight: 500;
		font-style: italic;
		color: white;
		text-align: center;
		font-size: 30px;
	}

}

/*-----------------------------------*/

@media (max-width: 1200px) {

	#headimage {
		height: 870px;
		width: 100%;
		background-image: url(../images/gg2-boring.jpg);
		background-size: 100%;
		background-position: 0px 200px;
		background-color: white;
		background-repeat: no-repeat;
	}

	#headtext {
		font-family: cormorant garamond, serif;
		padding-left: 70px;
		padding-top: 50px;

	}

	#title {
		font-weight: 400;
		font-size: 100px;
		margin: 0;
		color: #272727;
	}

	#subtitle {
		font-weight: 600;
		font-size: 35px;
		font-style: italic;
		margin: 0;
		margin-top: -15px;
		text-indent: 50px;
		color: #707070;
	}

	#body {
		width: 63%;
		margin: auto;
	}

	#ggimage {
		padding-top: 70px;
	}

	#conflict {
		padding-top: 70px;
	}


	#body div {
		width: 86%;
		margin: auto;
	}

	#overview {
		padding-top: 70px;
	}

	.half {
		font-family: cormorant garamond, serif;
		font-weight: 400;
		font-size: 50px;
		width: 60%;
		margin-right: 0;
		display: inline-block;
	}

	#whole {
		font-family: cormorant garamond, serif;
		font-weight: 400;
		font-size: 50px;
		width: 100%;
		margin-right: 0;
		display: inline-block;
	}

	#body p {
		font-family: lora, serif;
		width: 60%;
		display: inline-block;
		line-height: 35px;
		letter-spacing: .1px;
		font-size: 20px;
		margin: 0;
		padding-bottom: 100px;
	}

	#body img {
		width: 35%;
		display: inline-block;
		margin: 0;
		float: right;
		margin-top: 30px;
	}

	#overview img {
		padding-top: 50px;
	}
	
	#ggimage img {
		padding-top: 180px;
		width: 38%;
	}

	#conflict img {
		width: 39%;
	}

	#gallery {
		width: 63%;
		margin: auto;
	}

	#gallerylink {
		text-decoration: none;
	}

	#button {
		border: 2px #333333 solid;
		height: 70px;
		width: 250px;
		background-color: white;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		font-family: cormorant garamond, serif;
		font-size: 30px;
		font-style: italic;
		color: #333333;
		line-height: 70px;
	}

	#button:hover {
		border: 2px #333333 solid;
		height: 70px;
		width: 250px;
		background-color: #333333;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		font-family: cormorant garamond, serif;
		font-size: 30px;
		font-style: italic;
		color: white;
		line-height: 70px;
	}


	footer {
		background-color: #333333;
		height: 300px;
		width: 100%;
	}

	footer p {
		width: 63%;
		margin: auto;
		padding-top: 135px;
		font-family: cormorant garamond, serif;
		font-weight: 500;
		font-style: italic;
		color: white;
		text-align: center;
		font-size: 30px;
	}

}

/*-----------------------------------*/



