body {
	background-color: floralwhite;
	margin: 0;
}

header {
	background-color: #79384E;
	height: 70px;
	width:100%;
	position:fixed;
	top:0;
}

header img {
	margin: auto;
	height: 30px;
	display: block;
	margin-top: 20px;
}

div#fudgecontainer {
	height: 230px;
	overflow: hidden; 
	/*position:fixed;*/
	/*top:70px;*/
	padding-top: 70px;
}

img#fudgeheader {
	width: 115%;
	margin-left: -30px;
	margin-top: -20px;
}

h1 {
	font-family: brandon-grotesque, sans-serif;
	font-weight: 450;
	font-style: normal;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: -25px;
	margin-top: 10px;
	color: #79384E;
	background-color: floralwhite;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 70px;
	transition-duration: .3s;
}


#ingredients {
	width: 85%;
	margin: auto;
	margin-top: 35px;
	margin-bottom: -15px;
	font-family: 'source sans pro', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #79384E;
}

#ingredients p:nth-of-type(1) {
	display: inline-block;
	width: 69%;
}

#ingredients p:nth-of-type(2) {
	display: inline-block;
	width: 29%;
	margin-top: 18px;
	text-align: right;
}

#ingredients h2 {
	margin-bottom: 0;
}

h2 {
	font-family: 'source sans pro', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*margin-bottom: -10px;*/

}

#instructions {
	width: 75%;
	margin: auto;
	margin-top: 39px;
	font-family: 'source sans pro', sans-serif;
	font-size: 16px;
	letter-spacing: .5px;
	font-weight: lighter;
	color: #79384E;
	/*box-shadow: -4px 6px rgba(121, 56, 78,.5);*/
	/*background-color: #F5EFE2;*/
	padding: 25px;
	height: /*2610px;*/ 100%;
	border: 3px solid rgba(121, 56, 78,.5);
	border-radius: 10px;
	/*border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0px;*/
	margin-bottom: 20px;
}

#instructions h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

#instructions p img {
	width: 100%;
	margin: auto;
	display: block;
	margin-top: 18px;
	margin-bottom: -5px;
	border-radius: 5px;

}

#instructions p {
	margin-bottom: 0;
}

/*footer {
	height: 50px;
}*/


