a {

	display: block;
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

body {
	margin: 0;
	font-family: "ibm plex sans", sans-serif;
	color: white;
}

/*--------*/

@media (max-width: 1800px) {

	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		top: 50px;
		left: 100px;
		font-size: 40px;
		width: 650px;
		z-index: 3;
		text-shadow: 2px 2px black;
	}

	p:nth-of-type(2) {
		font-size: 25px;
		text-align: right;
		margin-top: 10px;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 1500px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		top: 50px;
		left: 70px;
		font-size: 35px;
		width: 530px;
		z-index: 3;
		text-shadow: 2px 2px black;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 1300px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		top: 50px;
		left: 70px;
		font-size: 35px;
		width: 480px;
		z-index: 3;
		text-shadow: 2px 2px black;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 1200px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		top: 50px;
		left: 70px;
		font-size: 30px;
		width: 470px;
		z-index: 3;
		text-shadow: 2px 2px black;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 1000px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		top: 50px;
		left: 70px;
		font-size: 28px;
		width: 370px;
		z-index: 3;
		text-shadow: 2px 2px black;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 900px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 2px 2px black;
		top: 50px;
		left: 70px;
		font-size: 26px;
		width: 340px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 720px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 2px 2px black;
		top: 50px;
		left: 60px;
		font-size: 26px;
		width: 280px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 600px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 70%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 2px 2px black;
		top: 590px;
		left: 100px;
		font-size: 30px;
		width: 400px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 500px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 70%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 590px;
		left: 60px;
		font-size: 30px;
		width: 330px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 18px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 420px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 590px;
		left: 40px;
		font-size: 26px;
		width: 300px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 18px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 370px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 590px;
		left: 60px;
		font-size: 25px;
		width: 270px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 16px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-width: 330px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 590px;
		left: 30px;
		font-size: 25px;
		width: 220px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 16px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (min-width: 1801px) {
#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 2px 2px black;
		top: 50px;
		bottom: 100px;
		font-size: 40px;
		width: 700px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 30px;
		text-align: right;

	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (min-height: 1366px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 2px 2px black;
		top: 50px;
		bottom: 100px;
		font-size: 35px;
		width: 550px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 20px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-height: 667px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 500px;
		left: 60px;
		font-size: 25px;
		width: 270px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 16px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-height: 640px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 490px;
		left: 60px;
		font-size: 25px;
		width: 270px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 16px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}

/*--------*/

@media (max-height: 570px) {
	#background {
		display: block;
		position:fixed;
		height: 100%;
		width: 100%;
		background-image: url(../images/gina2.jpg);
		background-position: 65%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: black;
	}

	#quote {
		display: block;
		position: fixed;
		text-shadow: 3px 2px 3px black;
		top: 410px;
		left: 30px;
		font-size: 25px;
		width: 270px;
		z-index: 3;
	}

	p:nth-of-type(2) {
		font-size: 16px;
		text-align: right;
	}

	p {
		margin: 0;
	}
}
